<a href="https://colab.research.google.com/github/MLBartkowiakChojnacki/ML_PROJECT_2022/blob/DIMENSIONALITY_REDUCTION/notebooks/ML_PROJECT_2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#ML PROJECT

##1.EDA AND DATA PREPARATION

###LOADING DATA

In [1]:
import pandas as pd

rows_num = pd.read_csv('/content/drive/MyDrive/train_data.csv', nrows = 1)
features = []
col_num = len(rows_num.columns)

for n in range (0, col_num):
    features.append('feature_' + str(n))

X = pd.read_csv('/content/drive/MyDrive/train_data.csv', names = features)
y = pd.read_csv('/content/drive/MyDrive/train_labels.csv', names = ['target'])

X.head()

,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,...,feature_9990,feature_9991,feature_9992,feature_9993,feature_9994,feature_9995,feature_9996,feature_9997,feature_9998,feature_9999
0,304.361,-436.590,-33854.769,-96571.569,-15086.947,-794.409,-442.859,304.248,-202.411,-506.852,...,95.294,-3.936,-251.812,256.429,-473.661,-1398.604,42.638,771.185,-191.123,1356.137
1,54.047,90.087,-154.747,-4116.486,38365.133,-589.309,1115.367,274.199,814.953,167.272,...,-176.341,-426.238,-542.428,99.147,-102.309,-277.948,-98.859,-1163.779,265.231,-992.056
2,272.168,-201.736,4212.592,-9123.655,-35422.458,-1029.249,-506.290,-476.856,-570.731,-161.288,...,321.426,-376.033,142.834,920.958,-122.525,-174.304,-137.612,-1571.473,678.323,1020.263
3,170.007,68.736,48662.079,29735.235,-13903.955,895.081,-257.748,-811.058,-691.561,-31.439,...,-409.919,400.946,313.270,123.172,1786.962,147.637,31.433,-784.719,573.433,1454.415
4,86.797,180.052,-49643.545,2515.406,26206.315,-407.453,-189.416,-53.664,-159.507,-42.291,...,-101.761,-424.898,37.254,-337.431,423.691,14.240,267.352,-234.560,-213.804,873.391

In [2]:
y.head()

   target
0       1
1       1
2       1
3       1
4       1

###SHAPE - ROWS AND COLUMNS

In [3]:
rows, columns = X.shape
print("X rows: {}".format(rows), '\n' 'X columns: {}'.format(columns))

X rows: 3750
X columns: 10000

In [4]:
rows, columns = y.shape
print("y rows: {}".format(rows), '\n' 'y columns: {}'.format(columns))

y rows: 3750
y columns: 1

###DATA TYPES

In [5]:
X_data_types = X.columns.to_series().groupby(X.dtypes).groups
X_data_types.keys()

dict_keys([dtype('float64')])

In [6]:
y_data_types = y.columns.to_series().groupby(y.dtypes).groups
y_data_types.keys()

dict_keys([dtype('int64')])

###MISSING VALUES

In [7]:
# Checking the missing values
print ('Missing values total: ', X.isnull().sum().sum())
X.isnull().sum() / X.shape[0] * 100

Missing values total:  0

feature_0       0.0
feature_1       0.0
feature_2       0.0
feature_3       0.0
feature_4       0.0
               ...
feature_9995    0.0
feature_9996    0.0
feature_9997    0.0
feature_9998    0.0
feature_9999    0.0
Length: 10000, dtype: float64

In [8]:
# Checking the missing values
print ('Missing values total: ', y.isnull().sum().sum())
X.isnull().sum() / X.shape[0] * 100

Missing values total:  0

feature_0       0.0
feature_1       0.0
feature_2       0.0
feature_3       0.0
feature_4       0.0
               ...
feature_9995    0.0
feature_9996    0.0
feature_9997    0.0
feature_9998    0.0
feature_9999    0.0
Length: 10000, dtype: float64

###DESCRIPTIVE STATISTICS

In [9]:
X_desc = X.describe().T
X.describe().T

,count,mean,std,min,25%,50%,75%,max
feature_0,3750.0,30.644135,286.172414,-989.450,-163.78175,35.4785,215.78050,1224.394
feature_1,3750.0,9.080955,213.166659,-859.922,-135.34350,2.6805,156.09575,722.868
feature_2,3750.0,169.679419,43665.003613,-163336.428,-29284.11950,1181.6985,29630.91450,177744.241
feature_3,3750.0,811.083532,57123.457110,-243844.632,-38028.42900,980.5880,40561.96025,215372.854
feature_4,3750.0,-186.008805,21942.466227,-77566.109,-14426.79950,-154.8350,14515.83300,86287.955
...,...,...,...,...,...,...,...,...
feature_9995,3750.0,-1.426345,655.666258,-2165.769,-432.00075,-3.7965,425.33800,2562.331
feature_9996,3750.0,9.597250,204.731554,-739.205,-129.07625,8.6005,149.85575,685.176
feature_9997,3750.0,-2.031243,793.022407,-2731.037,-561.30400,-4.2430,539.55000,3123.617
feature_9998,3750.0,-2.841237,629.128655,-2223.909,-424.19275,-7.6280,427.79450,2204.527
feature_9999,3750.0,38.071903,768.405732,-2565.513,-462.82800,28.1070,552.17350,2664.074

####LOW/HIGH VARIANCE

#####HIGH/LOW VARIANCE PROBLEM
https://datascience.stackexchange.com/questions/37345/what-is-the-meaning-of-term-variance-in-machine-learning-model

1. What is high/low variance?
1. Over/underfitiing
1. Percentage vs max/min var
1. 10% cut up/bottom
1. Max - min var / specific var as indicator for high/low var
1. What is the importance of std or var in machine learning?

In [21]:
X_desc['var'] = X_desc['std']**2
X_desc.sort_values(by=['std'])

,count,mean,std,min,25%,50%,75%,max,var
feature_296,3750.0,16.394891,96.609371,-336.881,-48.31825,18.3490,82.18525,339.396,9.333371e+03
feature_2141,3750.0,17.571081,97.780843,-443.324,-47.77625,19.4850,83.65900,340.743,9.561093e+03
feature_9294,3750.0,10.192217,98.812225,-304.940,-56.42625,11.5865,77.67875,356.862,9.763856e+03
feature_6448,3750.0,14.586077,98.829126,-354.053,-52.42075,13.0880,79.90025,340.144,9.767196e+03
feature_8068,3750.0,15.850471,99.219032,-317.977,-50.89075,15.6050,84.36650,344.393,9.844416e+03
...,...,...,...,...,...,...,...,...,...
feature_4,3750.0,-186.008805,21942.466227,-77566.109,-14426.79950,-154.8350,14515.83300,86287.955,4.814718e+08
feature_5432,3750.0,19758.940279,40031.725525,-78808.956,-17446.05700,17472.4895,57388.01875,115499.031,1.602539e+09
feature_2,3750.0,169.679419,43665.003613,-163336.428,-29284.11950,1181.6985,29630.91450,177744.241,1.906633e+09
feature_3,3750.0,811.083532,57123.457110,-243844.632,-38028.42900,980.5880,40561.96025,215372.854,3.263089e+09
feature_1017,3750.0,73909.525799,145483.629953,-236100.056,-62991.52250,70704.2060,212446.92225,414233.425,2.116549e+10

####BIN COUNT FOR TARGET

In [22]:
y.groupby(['target'])['target'].count()

target
-1     375
 1    3375
Name: target, dtype: int64

###INTERCORRELATIONS
Analiza interkorelacji

https://www.projectpro.io/recipes/drop-out-highly-correlated-features-in-python
https://chrisalbon.com/code/machine_learning/feature_selection/drop_highly_correlated_features/

In [ ]:
cor_matrix = X.corr().abs()
print(cor_matrix)

In [ ]:
import numpy as np

upper_tri = cor_matrix.where(np.triu(np.ones(cor_matrix.shape),k=1).astype(np.bool))
print(upper_tri)

In [ ]:
to_drop = [column for column in upper_tri.columns if any(upper_tri[column] > 0.7)]
print(); print(to_drop)

####NOTE FOR INTERCORELLATIONS
1. What is the level for high correlation in this abstract task.
1. How many high correlated (point 1) features is enough?
1. Small amount of correlated features vs high amount of correlated features.

##2.STANDARIZATION

###STANDARD SCALER

In [ ]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X = scaler.fit_transform(X)

In [ ]:
pd.DataFrame(data = X, columns = features)

##3.FEATURE SELECTION

##4.DIMENSIONALITY REDUCTION
https://machinelearningmastery.com/dimensionality-reduction-algorithms-with-python/


1. How do we know if we improved model by removing labels? Do we have to make
base line for all the labels first?
1. Sparsity problem - no zero values, this also defines feature selection
algorithm:


> a. PCA: few zero values


> b. SVD: many zero values

In [ ]:
from numpy import count_nonzero
zero_elements = count_nonzero(X == 0)
zero_elements

In [ ]:
total_elements = X.size
total_elements

In [ ]:
sparsity = zero_elements / total_elements
sparsity

###BASELINE

###PCA 
https://towardsdatascience.com/pca-using-python-scikit-learn-e653f8989e60

https://www.datacamp.com/tutorial/principal-component-analysis-in-python

###t-SNE
https://towardsdatascience.com/visualising-high-dimensional-datasets-using-pca-and-t-sne-in-python-8ef87e7915b

##5.OUTLIERS

##6.ENCODING

###LABEL ENCODER

In [ ]:
from sklearn.preprocessing import LabelEncoder

y = pd.read_csv('/content/drive/MyDrive/train_labels.csv', names = ['target'])

y

In [ ]:
le = LabelEncoder()
le.fit(y['target'])
le.transform(y['target'])

In [ ]:
le.classes_