<a href="https://colab.research.google.com/github/MLBartkowiakChojnacki/ML_PROJECT_2022/blob/KRZYSZTOF/notebooks/ML_PROJECT_2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#ML PROJECT

##1.EDA AND DATA PREPARATION

###LOADING DATA

In [ ]:
import pandas as pd

rows_num = pd.read_csv('/content/drive/MyDrive/train_data.csv', nrows = 1)
features = []
col_num = len(rows_num.columns)

for n in range (0, col_num):
    features.append('feature_' + str(n))

X = pd.read_csv('/content/drive/MyDrive/train_data.csv', names = features)
y = pd.read_csv('/content/drive/MyDrive/train_labels.csv', names = ['target'])

X.head()

,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,...,feature_9990,feature_9991,feature_9992,feature_9993,feature_9994,feature_9995,feature_9996,feature_9997,feature_9998,feature_9999
0,304.361,-436.590,-33854.769,-96571.569,-15086.947,-794.409,-442.859,304.248,-202.411,-506.852,...,95.294,-3.936,-251.812,256.429,-473.661,-1398.604,42.638,771.185,-191.123,1356.137
1,54.047,90.087,-154.747,-4116.486,38365.133,-589.309,1115.367,274.199,814.953,167.272,...,-176.341,-426.238,-542.428,99.147,-102.309,-277.948,-98.859,-1163.779,265.231,-992.056
2,272.168,-201.736,4212.592,-9123.655,-35422.458,-1029.249,-506.290,-476.856,-570.731,-161.288,...,321.426,-376.033,142.834,920.958,-122.525,-174.304,-137.612,-1571.473,678.323,1020.263
3,170.007,68.736,48662.079,29735.235,-13903.955,895.081,-257.748,-811.058,-691.561,-31.439,...,-409.919,400.946,313.270,123.172,1786.962,147.637,31.433,-784.719,573.433,1454.415
4,86.797,180.052,-49643.545,2515.406,26206.315,-407.453,-189.416,-53.664,-159.507,-42.291,...,-101.761,-424.898,37.254,-337.431,423.691,14.240,267.352,-234.560,-213.804,873.391

In [ ]:
y.head()

   target
0       1
1       1
2       1
3       1
4       1

###SHAPE - ROWS AND COLUMNS

In [ ]:
rows, columns = X.shape
print("X rows: {}".format(rows), '\n' 'X columns: {}'.format(columns))

X rows: 3750
X columns: 10000

In [ ]:
rows, columns = y.shape
print("y rows: {}".format(rows), '\n' 'y columns: {}'.format(columns))

y rows: 3750
y columns: 1

###DATA TYPES

In [ ]:
X_data_types = X.columns.to_series().groupby(X.dtypes).groups
X_data_types.keys()

dict_keys([dtype('float64')])

In [ ]:
y_data_types = y.columns.to_series().groupby(y.dtypes).groups
y_data_types.keys()

dict_keys([dtype('int64')])

###MISSING VALUES

In [ ]:
# Checking the missing values
print ('Missing values total: ', X.isnull().sum().sum())
X.isnull().sum() / X.shape[0] * 100

Missing values total:  0

feature_0       0.0
feature_1       0.0
feature_2       0.0
feature_3       0.0
feature_4       0.0
               ...
feature_9995    0.0
feature_9996    0.0
feature_9997    0.0
feature_9998    0.0
feature_9999    0.0
Length: 10000, dtype: float64

In [ ]:
# Checking the missing values
print ('Missing values total: ', y.isnull().sum().sum())
X.isnull().sum() / X.shape[0] * 100

Missing values total:  0

feature_0       0.0
feature_1       0.0
feature_2       0.0
feature_3       0.0
feature_4       0.0
               ...
feature_9995    0.0
feature_9996    0.0
feature_9997    0.0
feature_9998    0.0
feature_9999    0.0
Length: 10000, dtype: float64

###DESCRIPTIVE STATISTICS

In [ ]:
X_desc = X.describe().T
X.describe().T

,count,mean,std,min,25%,50%,75%,max
feature_0,3750.0,30.644135,286.172414,-989.450,-163.78175,35.4785,215.78050,1224.394
feature_1,3750.0,9.080955,213.166659,-859.922,-135.34350,2.6805,156.09575,722.868
feature_2,3750.0,169.679419,43665.003613,-163336.428,-29284.11950,1181.6985,29630.91450,177744.241
feature_3,3750.0,811.083532,57123.457110,-243844.632,-38028.42900,980.5880,40561.96025,215372.854
feature_4,3750.0,-186.008805,21942.466227,-77566.109,-14426.79950,-154.8350,14515.83300,86287.955
...,...,...,...,...,...,...,...,...
feature_9995,3750.0,-1.426345,655.666258,-2165.769,-432.00075,-3.7965,425.33800,2562.331
feature_9996,3750.0,9.597250,204.731554,-739.205,-129.07625,8.6005,149.85575,685.176
feature_9997,3750.0,-2.031243,793.022407,-2731.037,-561.30400,-4.2430,539.55000,3123.617
feature_9998,3750.0,-2.841237,629.128655,-2223.909,-424.19275,-7.6280,427.79450,2204.527
feature_9999,3750.0,38.071903,768.405732,-2565.513,-462.82800,28.1070,552.17350,2664.074

####LOW/HIGH VARIANCE

#####HIGH/LOW VARIANCE PROBLEM
https://datascience.stackexchange.com/questions/37345/what-is-the-meaning-of-term-variance-in-machine-learning-model

1. What is high/low variance?
1. Over/underfitiing
1. Percentage vs max/min var
1. 10% cut up/bottom
1. Max - min var / specific var as indicator for high/low var
1. What is the importance of std or var in machine learning?

In [ ]:
X['var'] = X['std']**2
X.sort_values(by=['std'])

,count,mean,std,min,25%,50%,75%,max,var
feature_297,3750.0,16.394891,96.609371,-336.881,-48.31825,18.3490,82.18525,339.396,9.333371e+03
feature_2142,3750.0,17.571081,97.780843,-443.324,-47.77625,19.4850,83.65900,340.743,9.561093e+03
feature_9295,3750.0,10.192217,98.812225,-304.940,-56.42625,11.5865,77.67875,356.862,9.763856e+03
feature_6449,3750.0,14.586077,98.829126,-354.053,-52.42075,13.0880,79.90025,340.144,9.767196e+03
feature_8069,3750.0,15.850471,99.219032,-317.977,-50.89075,15.6050,84.36650,344.393,9.844416e+03
...,...,...,...,...,...,...,...,...,...
feature_5,3750.0,-186.008805,21942.466227,-77566.109,-14426.79950,-154.8350,14515.83300,86287.955,4.814718e+08
feature_5433,3750.0,19758.940279,40031.725525,-78808.956,-17446.05700,17472.4895,57388.01875,115499.031,1.602539e+09
feature_3,3750.0,169.679419,43665.003613,-163336.428,-29284.11950,1181.6985,29630.91450,177744.241,1.906633e+09
feature_4,3750.0,811.083532,57123.457110,-243844.632,-38028.42900,980.5880,40561.96025,215372.854,3.263089e+09
feature_1018,3750.0,73909.525799,145483.629953,-236100.056,-62991.52250,70704.2060,212446.92225,414233.425,2.116549e+10

####BIN COUNT FOR TARGET

In [ ]:
y.groupby(['target'])['target'].count()

target
-1     375
 1    3375
Name: target, dtype: int64

###INTERCORRELATIONS
Analiza interkorelacji

https://www.projectpro.io/recipes/drop-out-highly-correlated-features-in-python
https://chrisalbon.com/code/machine_learning/feature_selection/drop_highly_correlated_features/

In [ ]:
cor_matrix = X.corr().abs()
print(cor_matrix)

               feature_1  feature_2  feature_3  feature_4  feature_5  \
feature_1       1.000000   0.009717   0.007823   0.010449   0.023684
feature_2       0.009717   1.000000   0.014160   0.023034   0.003338
feature_3       0.007823   0.014160   1.000000   0.010302   0.015079
feature_4       0.010449   0.023034   0.010302   1.000000   0.024708
feature_5       0.023684   0.003338   0.015079   0.024708   1.000000
...                  ...        ...        ...        ...        ...
feature_9996    0.005980   0.017223   0.025339   0.006347   0.019803
feature_9997    0.004817   0.004058   0.032476   0.013508   0.004072
feature_9998    0.002374   0.002938   0.018478   0.010463   0.029769
feature_9999    0.004539   0.012621   0.017792   0.003039   0.000157
feature_10000   0.037154   0.016903   0.021163   0.015791   0.005128

               feature_6  feature_7  feature_8  feature_9  feature_10  ...  \
feature_1       0.007333   0.015694   0.013918   0.018783    0.003965  ...
feature_2       0.001651   0.001523   0.002178   0.001311    0.012276  ...
feature_3       0.018820   0.012610   0.011906   0.027900    0.017817  ...
feature_4       0.000070   0.007635   0.006952   0.002488    0.000677  ...
feature_5       0.017415   0.018771   0.003130   0.004630    0.026460  ...
...                  ...        ...        ...        ...         ...  ...
feature_9996    0.022484   0.001115   0.024465   0.010103    0.012017  ...
feature_9997    0.020380   0.004446   0.021117   0.002743    0.027519  ...
feature_9998    0.012821   0.003756   0.019836   0.010723    0.000662  ...
feature_9999    0.008822   0.003015   0.022031   0.013158    0.001864  ...
feature_10000   0.017924   0.010467   0.016271   0.018773    0.007452  ...

               feature_9991  feature_9992  feature_9993  feature_9994  \
feature_1          0.026716      0.022556      0.002033      0.002774
feature_2          0.019026      0.000439      0.007821      0.021165
feature_3          0.005629      0.004751      0.012520      0.006561
feature_4          0.041789      0.006706      0.036258      0.031660
feature_5          0.026909      0.029244      0.010195      0.009255
...                     ...           ...           ...           ...
feature_9996       0.000334      0.024582      0.011104      0.007001
feature_9997       0.003704      0.004205      0.009812      0.010792
feature_9998       0.002803      0.011812      0.026363      0.014296
feature_9999       0.014078      0.002885      0.015858      0.008329
feature_10000      0.011643      0.025583      0.010233      0.015585

               feature_9995  feature_9996  feature_9997  feature_9998  \
feature_1          0.006228      0.005980      0.004817      0.002374
feature_2          0.001081      0.017223      0.004058      0.002938
feature_3          0.035548      0.025339      0.032476      0.018478
feature_4          0.014701      0.006347      0.013508      0.010463
feature_5          0.001838      0.019803      0.004072      0.029769
...                     ...           ...           ...           ...
feature_9996       0.013349      1.000000      0.014523      0.020255
feature_9997       0.007482      0.014523      1.000000      0.003054
feature_9998       0.022679      0.020255      0.003054      1.000000
feature_9999       0.005671      0.011118      0.002754      0.022022
feature_10000      0.024727      0.000510      0.003309      0.005820

               feature_9999  feature_10000
feature_1          0.004539       0.037154
feature_2          0.012621       0.016903
feature_3          0.017792       0.021163
feature_4          0.003039       0.015791
feature_5          0.000157       0.005128
...                     ...            ...
feature_9996       0.011118       0.000510
feature_9997       0.002754       0.003309
feature_9998       0.022022       0.005820
feature_9999       1.000000       0.024653
feature_10000      0.024653       1.000000

[10000 rows x 10000 columns]

In [ ]:
import numpy as np

upper_tri = cor_matrix.where(np.triu(np.ones(cor_matrix.shape),k=1).astype(np.bool))
print(upper_tri)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: DeprecationWarning: `np.bool` is a deprecated alias for the builtin `bool`. To silence this warning, use `bool` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.bool_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  This is separate from the ipykernel package so we can avoid doing imports until

               feature_1  feature_2  feature_3  feature_4  feature_5  \
feature_1            NaN   0.009717   0.007823   0.010449   0.023684
feature_2            NaN        NaN   0.014160   0.023034   0.003338
feature_3            NaN        NaN        NaN   0.010302   0.015079
feature_4            NaN        NaN        NaN        NaN   0.024708
feature_5            NaN        NaN        NaN        NaN        NaN
...                  ...        ...        ...        ...        ...
feature_9996         NaN        NaN        NaN        NaN        NaN
feature_9997         NaN        NaN        NaN        NaN        NaN
feature_9998         NaN        NaN        NaN        NaN        NaN
feature_9999         NaN        NaN        NaN        NaN        NaN
feature_10000        NaN        NaN        NaN        NaN        NaN

               feature_6  feature_7  feature_8  feature_9  feature_10  ...  \
feature_1       0.007333   0.015694   0.013918   0.018783    0.003965  ...
feature_2       0.001651   0.001523   0.002178   0.001311    0.012276  ...
feature_3       0.018820   0.012610   0.011906   0.027900    0.017817  ...
feature_4       0.000070   0.007635   0.006952   0.002488    0.000677  ...
feature_5       0.017415   0.018771   0.003130   0.004630    0.026460  ...
...                  ...        ...        ...        ...         ...  ...
feature_9996         NaN        NaN        NaN        NaN         NaN  ...
feature_9997         NaN        NaN        NaN        NaN         NaN  ...
feature_9998         NaN        NaN        NaN        NaN         NaN  ...
feature_9999         NaN        NaN        NaN        NaN         NaN  ...
feature_10000        NaN        NaN        NaN        NaN         NaN  ...

               feature_9991  feature_9992  feature_9993  feature_9994  \
feature_1          0.026716      0.022556      0.002033      0.002774
feature_2          0.019026      0.000439      0.007821      0.021165
feature_3          0.005629      0.004751      0.012520      0.006561
feature_4          0.041789      0.006706      0.036258      0.031660
feature_5          0.026909      0.029244      0.010195      0.009255
...                     ...           ...           ...           ...
feature_9996            NaN           NaN           NaN           NaN
feature_9997            NaN           NaN           NaN           NaN
feature_9998            NaN           NaN           NaN           NaN
feature_9999            NaN           NaN           NaN           NaN
feature_10000           NaN           NaN           NaN           NaN

               feature_9995  feature_9996  feature_9997  feature_9998  \
feature_1          0.006228      0.005980      0.004817      0.002374
feature_2          0.001081      0.017223      0.004058      0.002938
feature_3          0.035548      0.025339      0.032476      0.018478
feature_4          0.014701      0.006347      0.013508      0.010463
feature_5          0.001838      0.019803      0.004072      0.029769
...                     ...           ...           ...           ...
feature_9996            NaN           NaN      0.014523      0.020255
feature_9997            NaN           NaN           NaN      0.003054
feature_9998            NaN           NaN           NaN           NaN
feature_9999            NaN           NaN           NaN           NaN
feature_10000           NaN           NaN           NaN           NaN

               feature_9999  feature_10000
feature_1          0.004539       0.037154
feature_2          0.012621       0.016903
feature_3          0.017792       0.021163
feature_4          0.003039       0.015791
feature_5          0.000157       0.005128
...                     ...            ...
feature_9996       0.011118       0.000510
feature_9997       0.002754       0.003309
feature_9998       0.022022       0.005820
feature_9999            NaN       0.024653
feature_10000           NaN            NaN

[10000 rows x 10000 columns]

In [ ]:
to_drop = [column for column in upper_tri.columns if any(upper_tri[column] > 0.7)]
print(); print(to_drop)

['feature_5433']

####NOTE FOR INTERCORELLATIONS
1. What is the level for high correlation in this abstract task.
1. How many high correlated (point 1) features is enough?
1. Small amount of correlated features vs high amount of correlated features.

##2.STANDARIZATION

###STANDARD SCALER

In [ ]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X = scaler.fit_transform(X)

In [ ]:
pd.DataFrame(data = X, columns = features)

,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,...,feature_9990,feature_9991,feature_9992,feature_9993,feature_9994,feature_9995,feature_9996,feature_9997,feature_9998,feature_9999
0,0.956603,-2.090995,-0.779319,-1.705003,-0.679182,-1.152735,-0.520916,0.328344,-0.407837,-2.204406,...,0.302007,-0.046534,-1.034740,0.476194,-0.595632,-2.131212,0.161407,0.975154,-0.299314,1.715553
1,0.081790,0.380063,-0.007431,-0.086273,1.757154,-0.864456,1.214323,0.293748,1.502145,0.643388,...,-0.707085,-0.820444,-2.130636,0.163723,-0.142053,-0.421798,-0.529819,-1.465157,0.426158,-1.340783
2,0.844093,-0.989109,0.092602,-0.173940,-1.606071,-1.482817,-0.591553,-0.570965,-1.099315,-0.744593,...,1.142062,-0.728438,0.453446,1.796409,-0.166745,-0.263702,-0.719131,-1.979327,1.082855,1.278390
3,0.487054,0.279889,1.110703,0.506412,-0.625261,1.221940,-0.314777,-0.955742,-1.326159,-0.196054,...,-1.574800,0.695451,1.096150,0.211454,2.165549,0.227377,0.106670,-0.987100,0.916110,1.843469
4,0.196247,0.802160,-1.140956,0.029840,1.202957,-0.608846,-0.238682,-0.083731,-0.327290,-0.241897,...,-0.430029,-0.817988,0.055310,-0.703622,0.500416,0.023897,1.259157,-0.293257,-0.335370,1.087226
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3745,1.076050,-0.503415,-0.862558,-0.055282,-0.004800,0.741343,1.132077,0.428989,1.880958,0.147017,...,1.250072,-1.153307,1.537867,-0.966474,0.066785,0.503467,0.468240,-0.462599,0.605455,-0.378908
3746,0.261649,-0.828331,1.243216,-0.680494,-0.556439,0.963510,0.084122,-1.607334,-0.349195,-1.438059,...,-0.034319,-0.055959,0.308261,-0.023961,-1.323867,-0.138543,0.373772,-0.003662,0.693934,-0.511764
3747,0.218575,-0.771185,-0.383086,-0.199883,-0.129528,-0.149292,-2.479446,-0.078812,-1.621631,-1.130816,...,-1.325665,-0.317795,-0.057320,1.089051,0.732304,-0.868406,-0.075266,1.008543,-0.455180,-2.685843
3748,2.888231,0.418043,-0.907012,0.444785,-0.058312,-0.514735,-1.132560,1.118615,0.236770,-1.250731,...,0.694050,-2.688472,-0.235554,0.803295,-0.250858,-0.819413,0.643698,0.699954,0.497534,0.219981
3749,-0.699106,0.554546,-0.568757,0.633969,-0.788796,0.029225,0.596378,0.156645,-0.436208,-1.957015,...,-0.376119,-0.807665,0.759775,-0.183540,-0.386674,-0.248166,0.048205,-1.058161,-1.543720,-1.094909

##3.FEATURE SELECTION

##4.DIMENSIONALITY REDUCTION
https://machinelearningmastery.com/dimensionality-reduction-algorithms-with-python/


1. How do we know if we improved model by removing labels? Do we have to make
base line for all the labels first?
1. Sparsity problem - no zero values, this also defines feature selection
algorithm:


> a. PCA: few zero values


> b. SVD: many zero values

In [30]:
from numpy import count_nonzero
zero_elements = count_nonzero(X == 0)
zero_elements

0

In [29]:
total_elements = X.size
total_elements

37500000

In [32]:
sparsity = zero_elements / total_elements
sparsity

0.0

###BASELINE

###PCA 
https://towardsdatascience.com/pca-using-python-scikit-learn-e653f8989e60

https://www.datacamp.com/tutorial/principal-component-analysis-in-python

###t-SNE
https://towardsdatascience.com/visualising-high-dimensional-datasets-using-pca-and-t-sne-in-python-8ef87e7915b

##5.OUTLIERS

##6.ENCODING

###LABEL ENCODER

In [ ]:
from sklearn.preprocessing import LabelEncoder

y = pd.read_csv('/content/drive/MyDrive/train_labels.csv', names = ['target'])

y

      target
0          1
1          1
2          1
3          1
4          1
...      ...
3745      -1
3746       1
3747       1
3748       1
3749       1

[3750 rows x 1 columns]

In [ ]:
le = LabelEncoder()
le.fit(y['target'])
le.transform(y['target'])

array([1, 1, 1, ..., 1, 1, 1])

In [ ]:
le.classes_

array([-1,  1])